<p> <%= link_to 'Voltar para Vagas', company_path(@company) %> </p>

<h1> <%= @job.title %></h1>

<p> <%= @job.description %> </p>
<p> <%= number_to_currency(@job.compensation, delimiter: ".") %> </p>
<p> <%= @job.experience_level %> </p>
<p> <%= @job.requirements %> </p>
<p> <%= I18n.localize(@job.expiration_date) %> 
    <%= (@job.expiration_date - Date.today).to_i %>
      dias para expirar a vaga
</p>
<p> <%= @job.total_jobs %> </p>

<% if candidate_signed_in? %>
  <p> <%= link_to 'Enviar', apply_company_job_path(@company, @job), method: :post %> </p>
<% end %>

<% if recruiter_signed_in? && current_recruiter.company_id == @company.id%>
  <p> <%= link_to 'Editar vaga', edit_company_job_path(@company, @job) %> </p>
  <br>
  <p> Candidaturas: </p>
  <% @job.job_applications.each do |job_application| %>

    <div style="border: 1px solid lime; width: 50%" >
      <p> <%=  job_application.candidate.full_name  %> </p>
      <p>Status: <%= job_application.status %> </p>
      
      <% if job_application.candidate_declined? %>
        <%= job_application.msg_declined %>
        
      <% end %>
      
      <p> <%= link_to 'Detalhes', edit_job_application_path(job_application)%> </p>
    </div>

  <% end %>
<% end %>
