<h1>Painel do Candidato</h1>

<%= flash[:apply] %> 

<p> <%= link_to 'Editar perfil', edit_candidate_path(@candidate) %> </p> 
<p> <%= link_to 'Empresas', companies_path %> </p>

<p> Candidaturas: </p>
  <% @candidate.job_applications.each do |job_application| %>

    <div style="border: 1px solid lime; width: 50%" >
      <p> <%=  job_application.job.company.name  %> </p>
      <p> <%=  job_application.job.title  %> </p>
      <p>Status: <%= job_application.status %> </p>
      <p> <%= link_to 'Detalhes', edit_job_application_path(job_application)%> </p>
    </div>

  <% end %>