<!DOCTYPE html>
<html>
  <head>
    <title>BalcaoEmpregos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="border:1px solid gray">
      <% if recruiter_signed_in? %> </p>
        <p> <%= current_recruiter.email %> </p>
        <p> Empresa:  <%= current_recruiter.company_name %></p>
        <p> <%= link_to 'Sair', destroy_recruiter_session_path, method: :delete %> </p>
      <% else %>
        <p> <%= link_to 'Recrutador', new_recruiter_session_path %> </p>
      <% end %>

      <% if candidate_signed_in? %>
        <p> <%= current_candidate.email %> </p>
        <p> <%= link_to 'Painel', candidate_path(current_candidate) %> </p>
        <p> <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %> </p>
      <% else %>
        <p> <%= link_to 'Candidato', new_candidate_session_path %> </p>
      <% end %>
    </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
